
<!DOCTYPE html>
<html>

<head>
    <title>IIITDM JobPortal</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/admin/css/main.css" />
    <link rel="stylesheet" href="/admin/bower_components/font-awesome/css/font-awesome.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/admin/bower_components/bootstrap/dist/css/bootstrap.min.css">
     
    <link rel="stylesheet" href="/admin/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/admin/css/home.css" />
    <link rel="stylesheet" href="/admin/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js"></script>
    <script src="/admin/js/jquery-1.11.1.min.js"></script>
    <script src="/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/admin/bower_components/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
      <style type="text/css">
        .specialtable:nth-child(even){
            background-color: #eee;
        }
        .specialtable:nth-child(odd){
            background-color: #fff;
        }
    
    
        th{
            background-color: #337ab7;
            color:white;
        }
    
        tr{
            transition: all .2s;
        }
        .table-hover>tbody>tr:hover {
        background-color: #c0d1ff;
    
    }
    
    
    </style>
    
</head>

<body style="margin-top: 50px">
    <header>
        <nav class="navbar navbar-static-top navbar-fixed-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav" style="margin-left: 2.5%;padding-top: .5%;">
                    <li class="dropdown notifications-menu"><h4 ><a href="/" style="color: white">
                        <!-- <i class="fa fa-dashboard" ></i>  -->
                        DASHBOARD</a></h4>
                    </li>
                </ul>
                <ul class="nav navbar-nav" style="margin-left: 4.5%;padding-top: .5%">
                    <button type="button" id="sidebarCollapse">
                        <div class="contain" style="margin-left: 20px" onclick="myFunction(this)">
                            <div class="bar1" style="background-color: white"></div>
                            <div class="bar2" style="background-color: white"></div>
                            <div class="bar3" style="background-color: white"></div>
                        </div>
                    </button>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li role="presentation"><a href="/admin">
                        <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
                         Home</a></li>
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <!--  <img src="/dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->
                            <!-- <i class="fa fa-user-circle" aria-hidden="true"></i>  -->
                            <span class="hidden-xs"><%=name%></span>
                        </a>
                        <ul class="dropdown-menu" style="background-color:#2884CE">
                            <!-- User image -->
                            <li class="user-header">
                                <!-- <img src="/image/Person.ico" class="img-circle" alt="User Image"> -->
                                <p>
                                    <%=name%>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <div id="profusertype">
                                        <a href="#profile" data-toggle="pill" class="btn btn-success btn-flat">Profile</a>
                                    </div>
                                   <div id="profhome">
                                        <a href="/usertype" class="btn btn-success btn-flat">Profile</a>
                                    </div> 
                                </div>
                                <div class="pull-right">
                                    <a href="/logout" class="btn btn-danger btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
            </div>
        </nav>
    </header>
    
  

</body>

</html>












    <!-- jQuery library -->
    <!-- Latest compiled JavaScript -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/admin/js/an.js"></script>
    
    <script src="/admin/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
 
    <script>  
    function myFunction(x) {
        x.classList.toggle("change");
    }
     
    var loc = window.location.href;
    if(loc == "http://phc.iiitdmj.ac.in:8080/home"){
        console.log("web page address is  : ");
        var chanhref2 = document.getElementById('sidebarCollapse');
        chanhref2.style.display = "none";
         var chanhref = document.getElementById('profusertype');
        chanhref.style.display = "none";
        var chanhref1 = document.getElementById('profhome');
        chanhref1.style.display = "block";
    }
    </script>






















