<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Post a Job</title>
        <link href="/admin/css/style.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <%- include('./partials/header'); -%>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
              <%- include('./partials/sidenav'); -%>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <br>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                            <li class="breadcrumb-item active">Post a Job</li>
                        </ol>
                        <h2 class="mt-4">Post a Job</h2>
                        <form id="jobform" action="/admin/postjob" method="POST">
                          <div id="form1">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="jobtitle">Job Title</label>
                                  <input type="text" class="form-control" placeholder="" id="jobtitle" name="jobtitle" >
                                </div>
                              </div>                        
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="salary">Salary Offered</label>
                                  <input type="text" class="form-control" placeholder="" id="salary" name="salary">
                                </div>
                              </div>
                            </div>
                        
                        
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="experience">Experience Required</label>
                                  <input type="text" class="form-control" placeholder="" id="experience" name="experience">
                                </div>
                              </div>
                        
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="eligibility">Eligibility</label>
                                  <input type="text" class="form-control" id="elegibility" name="elegibility">
                                </div>
                              </div>
                            </div>
                        
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="date">Apply By</label>
                                  <input type="date" class="form-control" id="date" name="date">
                                </div>
                              </div>
                              <!--  col-md-6   -->
                        
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="openingType">Type of Opening</label>
                                  <select id="openingType " name="openingType" class="form-control">
                                    <option value="technical">Technical Opening</option>
                                    <option value="nontechnical">Non Technical Opening</option>
                                  </select>
                                </div>
                        
                              </div>
                              <!--  col-md-6   -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea rows="4" cols="50" name="description" class="form-control" id="description"></textarea>
                                  </div>
                                </div>

                                <div class="col-md-6">
                                  <div class="form-group">
                                    <input type="hidden" id="formdata" name="formdata" value="">
                                  </div>
                                </div>
                                
                              </div>
                              <button class="btn btn-primary" onclick="next1()">Next</button>
                                
                          </div>

                          <div id="form2">
                          </div>

                          <div id="form6">
                          </div>

                          <div id="form3" style="display: none;">
                            <label>Enter Field Name</label>
                            <input  id="textField" name="textField" value="">
                            <button class="btn btn-primary" onclick="removeText()">Cancel</button>
                            <button class="btn btn-primary" onclick="insertText()">Insert</button>

                            <br/><br/>

                          </div>

                          <div id="form5" style="display: none;">
                            <label>Enter Field Name</label>
                            <input  id="textField1" name="textField1" value="">
                            <button class="btn btn-primary" onclick="removeFile()">Cancel</button>
                            <button class="btn btn-primary" onclick="insertFile()">Insert</button>

                            <br/><br/>

                          </div>

                          <div style = "display: none;" id="form4">
                            <button class="btn btn-primary" onclick="prev1()">Prev</button>
                            <button style="margin-left:20px;" onclick="addtext()" class="btn btn-primary">Add text field</button>
                            <button style="margin-left:20px;" class="btn btn-primary" onclick="addfile()">Add file upload field</button>
                            <button type="submit" style="margin-left:20px;" class="btn btn-primary" id="submit">Submit</button>
                          </div>
                            
                          </form>
                        <div class="mb-4">
                            
                            
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/script.js"></script>
        <script src="js/data.js"></script>
        <script src="js/formscript.js"></script>
        <script>
          var data;
          var dataBin=[];

          function checkdone(parameter){
            const name = parameter.split(',')[0];
            const type = parameter.split(',')[1];
            const id = event.target.id;
            var element = document.getElementById(id);
            if(element.checked){
              var temp = {};
              temp[name] = dataBin[name];
              data = Object.assign(data,temp);
              delete dataBin[name];
              console.log(data);
              console.log(dataBin);
            }
            else{
              var temp = {};
              temp[name] = data[name];
              dataBin = Object.assign(dataBin,temp);
              delete data[name];
              console.log(data);
              console.log(dataBin);
            }

            // console.log(data);
          }


          function addfile(){
            event.preventDefault();
            document.getElementById("form5").style.display = "initial";
          }

          function removeFile(){
            event.preventDefault();
            document.getElementById("textField1").value = "";
            document.getElementById("form5").style.display = "none";
          }

          function insertFile(){
            event.preventDefault();
            var value = document.getElementById("textField1").value;
            value = value.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join('_');
            console.log(value);
            var type="file";
            var html=``;
            html += `<div class="col-1">
            <input type="checkbox" onclick="checkdone('`+value + ',' + type + `')" class="form-check-input"  id=` + value + ` value="" checked></div><div class="col-5"><label for="`;
            html += value;
            html += `">`;
            html += value;
            html += `</label></div>`;
            html += `<div class="custom-file col-6"><input type="file" 
                    class="custom-file-input" id="validatedCustomFile" >
                    <label class="custom-file-label" for="validatedCustomFile">`;
            html += value;
            html += `</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>`;  
                  

            // document.getElementById("form6").innerHTML = document.getElementById("form6").innerHTML + html;
            var di = document.createElement("div");
            di.classList.add("row");
            di.classList.add("mt-3");
            di.innerHTML=html;
            // document.getElementById("form6").innerHTML = document.getElementById("form6").innerHTML + html;
            document.getElementById("form6").appendChild(di);
            document.getElementById("textField1").value = "";
            document.getElementById("form5").style.display = "none";

            var temp ={};
            temp[value]={type: "file"};
            data = Object.assign(data,temp);


          }

          function next1(){
            event.preventDefault();
            document.getElementById("form1").style.display = "none";
            document.getElementById("form2").style.display = "initial";
            document.getElementById("form6").style.display = "initial";
            document.getElementById("form4").style.display = "initial";
            // document.getElementById("form3").style.display = "none";
            if(document.getElementById("form2").innerHTML.length==27){
              data = onPageLoad();
              console.log(data);
            }
            
            // document.getElementById("prev1").style.display = "initial";
          }

          function prev1(){
            event.preventDefault();
            document.getElementById("form1").style.display = "initial";
            document.getElementById("form2").style.display = "none";
            document.getElementById("form4").style.display = "none";
            document.getElementById("form3").style.display = "none";
            document.getElementById("form5").style.display = "none";
            document.getElementById("form6").style.display = "none";
          }

          function addtext(){
            event.preventDefault();
            document.getElementById("form3").style.display = "initial";
          }

          function removeText(){
            event.preventDefault();
            document.getElementById("textField").value = "";
            document.getElementById("form3").style.display = "none";
          }

          function insertText(){
            event.preventDefault();
            var value = document.getElementById("textField").value;
            value = value.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join('_');
            console.log(value);
            var type="text";
            var html=``;
            html += `<div class="col-1">
                    <input type="checkbox" onclick="checkdone('`+value + ',' + type + `')" class="form-check-input" id=` + value + ` value="" checked></div>`;
            html += `<div class="col-5"><label for="`;
            html += value;
            html += `">`;
            html += value;
            html += `</label></div>`;

            html += `<div class="col-6"><input type="text" class="form-control" placeholder="" id="`;
            html += value;
            html += `"></div></div>`;

            var di = document.createElement("div");
            di.classList.add("row");
            di.classList.add("form-group");
            di.classList.add("mt-3");
            di.innerHTML=html;
            // document.getElementById("form6").innerHTML = document.getElementById("form6").innerHTML + html;
            document.getElementById("form6").appendChild(di);
            document.getElementById("textField").value = "";
            document.getElementById("form3").style.display = "none";

            var temp ={};
            temp[value]={type: "text"};
            data = Object.assign(data,temp);


          }


          $("form").on('submit',function(event){
            document.getElementById("formdata").value = JSON.stringify(data);
          });

        </script>
        
    </body>
</html>
