<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#4DA5F4" />
    <meta name="csrf-token" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <% if(messages.errors) {%>
      <div class="alert alert-danger fade show">
        <!-- <button class="close" type="button" data-dismiss="alert">
          <i class="fa-fa-circle">
          </i>
        </button> -->
        <% for(let error of messages.errors){%>
          <center><%=error.msg%></center>
          <%}%>
      </div>
      
    <%}%>

    <% if(messages.info) {%>
      <div class="alert alert-info fade show">
        <!-- <button class="close" type="button" data-dismiss="alert">
          <i class="fa-fa-circle">
          </i>
        </button> -->
        <% for(let info of messages.info){%>
          <center><%=info.msg%></center>
          <%}%>
      </div>
      
    <%}%>

    <% if(messages.success) {%>
      <div class="alert alert-success fade show">
        <!-- <button class="close" type="button" data-dismiss="alert">
          <i class="fa-fa-circle">
          </i>
        </button> -->
        <% for(let success of messages.success){%>
          <center><%=success.msg%></center>
          <%}%>
      </div>
      
    <%}%>

    <div class="pb-2 mt-2 mb-4 border-bottom">
        <h3><center>Admin Sign up</center></h3>
    </div>
    <form id="signup-form" method="POST" ><input type="hidden" name="_csrf" />
      <div class="form-group row"><label class="col-md-3 col-form-label font-weight-bold text-right" for="name">Name</label>
        <div class="col-md-7"><input class="form-control" type="text" name="name" id="name" placeholder="Full Name" autofocus="autofocus" autocomplete="name" required="required" /></div>
    </div>
        <div class="form-group row"><label class="col-md-3 col-form-label font-weight-bold text-right" for="email">Email</label>
            <div class="col-md-7"><input class="form-control" type="email" name="email" id="email" placeholder="Email" autofocus="autofocus" autocomplete="email" required="required" /></div>
        </div>
        <div class="form-group row"><label class="col-md-3 col-form-label font-weight-bold text-right" for="password">Password</label>
            <div class="col-md-7"><input class="form-control" type="password" name="password" id="password" placeholder="Password" autocomplete="new-password" minlength="8" required="required" /></div>
        </div>
        <div class="form-group row"><label class="col-md-3 col-form-label font-weight-bold text-right" for="confirmPassword">Confirm Password</label>
            <div class="col-md-7"><input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" autocomplete="new-password" minlength="8" required="required" /></div>
        </div>
        <!-- start -->
        <div class="form-group row"><label class="col-md-3 col-form-label font-weight-bold text-right" for="usertype">User Type</label>
           <div class="col-md-7">
                <select class="form-control" name="usertype" id="usertype" style="border-radius: 5px">
                    <option selected>Select User type</option>
                    <option value="admin">Admin</option>
                    <option value="staff">Staff</option>
                </select>
            </div>
        </div>
        <!-- end -->
        <div class="form-group offset-sm-3 col-md-7 pl-2"><button class="btn btn-success" type="submit">Signup</button></div>
    </form>
    
 

  </body>
</html>






