<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4 " style="margin-left: 100px;">
                <h5>About</h5>
                <ul class="list-unstyled quick-links ">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="https://www.iiitdmj.ac.in/downloads/IIIT%20Act%2030_of_2014.pdf"><i class="fa fa-angle-double-right"></i>RTI</a></li>
                    <li><a href="https://www.iiitdmj.ac.in/rti.php"><i class="fa fa-angle-double-right"></i>IIIT Act</a></li>
                    <li><a href="https://www.iiitdmj.ac.in/maps_direction.php"><i class="fa fa-angle-double-right"></i>Maps & Directions</a></li>
                    <!-- <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li> -->
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 ">
                <h5>Others</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.iiitdmj.ac.in/academics/calendar.php#acad_cal"><i class="fa fa-angle-double-right"></i>Academic Calendar</a></li>
                    <li><a href="https://www.iiitdmj.ac.in/hindi.php"><i class="fa fa-angle-double-right"></i>Notice Board</a></li>
                    <li><a href="https://www.iiitdmj.ac.in/contact.php"><i class="fa fa-angle-double-right"></i>Contacts</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2  ">
                <h5>Contact Us</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.iiitdmj.ac.in/downloads/IIITDMJ%20Telephone%20Directory.pdf"><i class="fa fa-angle-double-right"></i>Phone Directory</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/iiitdm.jbp/"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/iiitdmjbp"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCODKL--xMCqXIK31cRdOWOw"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
            </hr>   
        </div>	
        <div class="row" >
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white" >
                <!-- <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p> -->
                <p class="h6" style="padding-top:40px ;">&copy IIITDM JABALPUR 2020-All right Reversed.</p>
                <!-- <p class="h6">&copy IIITDM JABALPUR 2019-All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p> -->
            </div>
            </hr>
        </div>	
    </div>
</section>
<!-- ./Footer -->